<nav class="navbar navbar-expand-sm navbar-custom">
    <a href="#" class="navbar-brand">Foulées et marathons du monde</a>
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a href="/home" class="nav-link">Home</a>
      </li>



      <li class="nav-item active" *ngIf="showEventsBoard">
        <a href="/events" class="nav-link" routerLink="events">Events</a>
      </li>

      <li class="nav-item active" *ngIf="showUsersBoard">
        <a href="/add-moderator" class="nav-link" routerLink="add-moderator">Users</a>
      </li>

      <li class="nav-item active" *ngIf="showAddEventBoard">
        <a href="/add-event" class="nav-link" routerLink="add-event">Add event</a>
      </li>


    </ul>

    <ul class="navbar-nav" *ngIf="!isLoggedIn">

      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>

      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>

    </ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="showProfileBoard">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>

    </ul>
  </nav>
