<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.example.tphopital.entity.Prescription" />
        <mapping class="com.example.tphopital.entity.Consultation" />
        <mapping class="com.example.tphopital.entity.OperationAnalyse" />
        <mapping class="com.example.tphopital.entity.FicheSoin" />
        <mapping class="com.example.tphopital.entity.FichePayment" />
        <mapping class="com.example.tphopital.entity.FicheConsultation" />
        <mapping class="com.example.tphopital.entity.Patient" />
        <mapping class="com.example.tphopital.entity.DossierMedical" />
    </session-factory>
</hibernate-configuration>

